<ion-view view-title=" Dashboard" hide-back-button="true">
  <ion-content>
  <style type="text/css">
  	.platform-android .bar .title {
  		left: 25px;<a class="item item-avatar" href="#">
  	}
  </style>
	   <div class="card" ng-click="collect();">
		  <div class=" item-divider">Collect</div>
	   </div>
	   <div class="card">
		  <div class=" item-divider">Report</div>
	   </div>

	   <div class="card">
		  <div class="item-divider">Members</div>
	   </div>

	   <div class="card">
		  <div class=" item-divider">Add Members</div>
	   </div>

    </ion-list>
  </ion-content>
</ion-view>
